.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    height: 6rem;
    max-width: 65%;
    margin: 0 auto;
    overflow: visible;
}

.header h1 {
    color: white;
    cursor: pointer;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title img {
    height: 7rem;
    width: 7rem;
}

.menu {
    display: flex;
    justify-content: space-between;
    min-width: 350px;
}

.searchForm {
    position: relative;
    display: flex;
    align-items: center;
    background: white;
    border-radius: 18px;
    width: 16rem;
    margin-right: 2rem;
}

.searchFormActive {
    border-radius: 18px 18px 0 0;
}

.icon {
    padding: 0 0.5rem;
    color: #555;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: white;
    border-radius: 50%;
}

.searchBox {
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    width: 200px;
    background: white;
}

.searchBox:focus {
    outline: none;
}

.suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 10;
    background: white;
    color: black;
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 0 0 18px 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.suggestionItem {
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background 0.2s ease;
}

.suggestionItem:hover {
    background: #eee;
}

.focused {
    background-color: #eee;
    cursor: pointer;
}

.degreeButton {
    all: unset;
    font-family: "Roboto", sans-serif;
    font-weight: 450;
    font-size: 1rem;
    text-align: center;
    color: #163da8;
    background: white;
    height: 2.1rem;
    width: 4.2rem;
    border-radius: 12px;
    margin-right: 1rem;
}

.degreeButton:hover {
    cursor: pointer;
}

.degreeButton:active {
    background: rgb(240, 240, 240);
}

.languageButtonLeft {
    all: unset;
    font-family: "Roboto", sans-serif;
    font-weight: 450;
    font-size: 1rem;
    text-align: center;
    color: #163da8;
    background: white;
    height: 2.1rem;
    width: 2.2rem;
    border-right: 1px solid #163da8;
    border-radius: 12px 0 0 12px;
}

.languageButtonLeft:hover {
    cursor: pointer;
}
.languageButtonLeft:active {
    background: rgb(240, 240, 240);
}

.languageButtonRight {
    all: unset;
    font-family: "Roboto", sans-serif;
    font-weight: 450;
    font-size: 1rem;
    text-align: center;
    color: #163da8;
    background: white;
    height: 2.1rem;
    width: 2.2rem;
    border-left: 1px solid #163da8;
    border-radius: 0 12px 12px 0;
}
.languageButtonRight:hover {
    cursor: pointer;
}
.languageButtonRight:active {
    background: rgb(240, 240, 240);
}

.selected {
    color: rgb(255, 177, 0);
}

@media (max-width: 1170px) {
    .header {
        flex-direction: column;
        justify-content: center;
        height: auto;
        max-width: 90%;
        padding: 0.5rem;
    }

    .title {
        flex: 1;
        justify-content: flex-start;
        width: 100%;
        margin-right: 30px;
    }

    .title img {
        height: 3rem;
        width: 3rem;
    }

    .title h1 {
        font-size: 1.5rem;
    }

    .menu {
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 0.5rem;
        margin-top: 0.5rem;
        width: 100%;
        min-width: 300px;
        position: relative;
        top: -45px;
    }

    .searchForm {
        width: 100%;
        margin-right: 0;
        margin-top: 0.5rem;
    }

    .degreeButtons {
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }

    .degreeButton {
        height: 1.8rem;
        width: 3.6rem;
        margin-right: 0.5rem;
    }

    .languageButtonLeft,
    .languageButtonRight {
        height: 1.8rem;
        width: 2rem;
    }
}
