.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    height: 6rem;
    max-width: 80%;
    margin: 0 auto;
}

.header h1 {
    color: white;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title svg {
    color: yellow;
}

.menu {
    display: flex;
    justify-content: space-between;
    min-width: 350px;
}

.searchForm {
    display: flex;
    align-items: center;
    background: white;
    border: 1px solid #530053;
    box-shadow: 2px 2px 2px;
    border-radius: 8px;
    overflow: hidden;
    transition: 0.5s ease;
}

.searchForm:focus-within,
.searchForm:hover {
    outline: none;
    border-color: #eb7f49;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

.icon {
    padding: 0 0.5rem;
    color: #555;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: white;
}

.icon:active {
    color: black;
}

.searchBox {
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    width: 200px;
    background: white;
}

.searchBox:focus {
    outline: none;
}

.degreeButtons button {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

.degreeButton {
    all: unset;
    text-align: center;
    height: 34px;
    width: 68px;
    border-radius: 8px;
    background: linear-gradient(150deg, #b44d1a, #eb7f49);
    transition: 1s ease;
}

.degreeButton:hover {
    background: linear-gradient(150deg, #dd5f20, #f7864d);
}

.degreeButton:active {
    box-shadow: inset 1px 1px 2px;
    background: linear-gradient(150deg, #f16924, #ff9058);
}
