.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    height: 6rem;
    max-width: 65%;
    margin: 0 auto;
    overflow: visible;
}

@media (width <= 1920px) {
    .header {
        max-width: 70%;
    }
}

.header h1 {
    color: white;
    cursor: pointer;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title svg {
    color: yellow;
}

.title img {
    height: 7rem;
    width: 7rem;
}

.menu {
    display: flex;
    justify-content: space-between;
    min-width: 350px;
}

.searchForm {
    position: relative;
    display: flex;
    align-items: center;
    background: white;
    border-radius: 18px;
    width: 15.5rem;
}

.searchFormActive {
    border-radius: 18px 18px 0 0;
}

.searchForm:focus-within,
.searchForm:hover {
    outline: none;
    border-color: #eb7f49;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

.icon {
    padding: 0 0.5rem;
    color: #555;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: white;
    border-radius: 50%;
}

.icon:active {
    color: black;
}

.searchBox {
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    width: 200px;
    background: white;
}

.searchBox:focus {
    outline: none;
}

.suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 10;
    background: white;
    color: black;
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 0 0 18px 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.suggestionItem {
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background 0.2s ease;
}

.suggestionItem:hover {
    background: #eee;
}

.degreeButton {
    all: unset;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    color: white;
    height: 2.1rem;
    width: 4.2rem;
    border: 2px solid #022da3;
    border-radius: 12px;
    background: var(--accent-color);
    transition: 0.5s ease;
}

.degreeButton:hover {
    border: 2px solid #020536;
    background: var(--accent-color);
}

.degreeButton:active {
    background: linear-gradient(150deg, #001c68, #4284ff);
}
