.currentDaySection {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    max-width: 700px;
    height: 250px;
    margin-top: 60px;
    color: white;
    padding: 1rem;
    border: 2px solid #eb7f49;
    border-radius: 32px;
    background-color: #0a473f;
}

.dataContainer {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.dataContainer p {
    padding: 0.5rem;
}

.cityName {
    font-size: 2rem;
    font-weight: bold;
}

.dataContainerTemp {
    margin-top: auto;
    font-size: 3rem;
}
