.mainSection {
    display: flex;
    flex-direction: column;
}

.currentDaySection {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    max-width: 800px;
    height: 250px;
    margin-top: 60px;
    color: white;
    padding: 1rem;
    /* border: 2px solid var(--accent-color); */
    border-radius: 24px;
    background: var(--accent-color);
}

.dataContainer {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.dataContainer p {
    padding: 0.5rem;
}

.cityName {
    font-size: 2rem;
    font-weight: bold;
}

.dataContainerTemp {
    margin-top: auto;
    font-size: 3rem;
}

.todaysForecast {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 2rem auto;
    align-items: center;
    height: 300px;
    max-width: 1400px;
    /* border: 2px solid var(--accent-color); */
    border-radius: 24px;
    background: var(--accent-color);
}

.todaysForecast h3 {
    align-self: flex-start;
    margin-left: 2rem;
    color: white;
}

.todaysForecast div {
    display: flex;
}
