.hourly {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    margin: 0.5rem 0;
    margin-top: 2rem;
    border-right: 2px solid rgb(235, 235, 235);
    color: white;
    height: 130px;
    width: 130px;
}

.hourly:last-of-type {
    border: none;
}

@media (max-width: 1170px) {
    .hourly {
        margin: 0;
        border-bottom: 2px solid rgb(235, 235, 235);
        border-right: none;
    }
}
