@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

:root {
    --accent-color: linear-gradient(150deg, #0d2b7c, #8bb3fd);
}

#root {
    height: 1200px;
}

html {
    height: 100%;
    width: 100%;
}

body {
    min-height: 100vh;
    background: linear-gradient(150deg, #163da8, #b1e0ff);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    font-family: "Roboto", sans-serif;
}

img {
    user-drag: none;
    -webkit-user-drag: none;
}
