@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

:root {
    /* --accent-color: #020536; */
    --accent-color: linear-gradient(150deg, #022da3, #8bb3fd);
}

body {
    height: 100vh;
    background: linear-gradient(150deg, #00ccff, #ffffff);
    font-family: "Roboto", sans-serif;
}
